<div class="m-2 border border-dark rounded-3">
  <div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
         <div>
          <h1> Aprendiendo a programar</h1>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque aut atque ipsum voluptates! Doloremque optio provident doloribus, maiores laudantium aut cum mollitia officiis voluptatum totam, velit, omnis veniam sunt vel?</p>
         </div>
         <div>

         </div>
    </div>
   </div>
</div>
